.container{
    display: flex;
    flex-direction: column;
    
    
}

#light-toggle{
    margin: 20px;
    padding: 20px;
}

img{
    width:554px;
     height:auto;
}

#light-on{
    display: block;
    
}